@model Ders

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Ders Sil";
}

<h2>Ders Sil</h2>

<h3>Bu dersi silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Ders</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sinif.SinifAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sinif.SinifAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DersAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DersAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kod)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Sinif Ders Listesine Dön", "SinifDersleri", new { id = Model.SinifId })
        </div>
    }
</div>